.section-heading {
    position: relative;
   
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.section-heading:before, .section-heading:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 1000%;
    height: 1px;
    content: '\a0';
    background-color: orange;
}
.section-heading:before {
    margin-left: -1000%;
    text-align: right;
}