.top-banner{
    background-image: url("../../../images/tourists-having-fun-coast.jpg"),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));;;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 680px;
        width: "100%";
   
}